.contact {
  background-color: var(--color-white-blue);
  text-align: center;
}

.contact-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact .card {
  width: 100%;
}

.contact i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--color-blue-30);
}

.contact p:nth-child(2) {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  color: var(--color-blue-30);
}

.contact p:nth-child(3) {
  font-weight: 500;
}

@media screen and (min-width: 576px) {
  .contact .card {
    width: calc(50% - 2rem);
  }
}
@media screen and (min-width: 768px) {
  .contact .card {
    width: calc(25% - 2rem);
  }
}
@media screen and (min-width: 992px) {
  .section {
    padding: 5rem 0;
  }
}
