:root {
  --color-blue-100: #172554;
  --color-blue-90: #1e3a8a;
  --color-blue-80: #1e40af;
  --color-blue-70: #1d4ed8;
  --color-blue-60: #2563eb;
  --color-blue-50: #3b82f6;
  --color-blue-40: #60a5fa;
  --color-blue-30: #93c5fd;
  --color-blue-20: #bfdbfe;
  --color-blue-10: #dbeafe;
  --color-gray-100: #030712;
  --color-gray-90: #111827;
  --color-gray-80: #1f2937;
  --color-gray-70: #374151;
  --color-gray-60: #4b5563;
  --color-gray-50: #6b7280;
  --color-gray-40: #9ca3af;
  --color-gray-30: #d1d5db;
  --color-gray-20: #e5e7eb;
  --color-gray-10: #f3f4f6;
  --color-white: #fff;
  --color-white-blue: #eff6ff;
  --color-white-gray: #f9fafb;
  --bg: var(--color-white);
  --font-family: "Roboto", sans-serif;
  --font-family-serif: "Roboto Serif", serif;
  --font-size: 16px;
  --font-weight: 400;
  --font-color: var(--color-gray-90);
  --line-height: 1.5;
  --body-bg: var(--bg);
  --body-font-family: var(--font-family);
  --body-font-family-heading: var(--font-family-serif);
  --body-font-size: var(--font-size);
  --body-font-weight: var(--font-weight);
  --body-font-color: var(--font-color);
  --body-line-height: var(--line-height);
  --heading-font-family: var(--font-family-serif);
  --heading-font-size-h1: 2.625rem;
  --heading-font-size-h2: 2.375rem;
  --heading-font-size-h3: 2rem;
  --heading-font-size-h4: 1.625rem;
  --heading-line-heading: 1.25;
}

:root {
  --fc-breakpoint-xs: 0;
  --fc-breakpoint-sm: 576px;
  --fc-breakpoint-md: 768px;
  --fc-breakpoint-lg: 992px;
  --fc-breakpoint-xl: 1200px;
  --fc-breakpoint-xxl: 1400px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-font-color);
  background-color: var(--body-bg);
}

h1,
h2,
h3,
h4 {
  font-family: var(--body-font-family-heading);
  line-height: var(--heading-line-heading);
}

h1 {
  font-size: var(--heading-font-size-h1);
}

h2 {
  font-size: var(--heading-font-size-h2);
}

h3 {
  font-size: var(--heading-font-size-h3);
}

h4 {
  font-size: var(--heading-font-size-h4);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.logo {
  width: 150px;
}

@media screen and (max-width: 576px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
